<div id="background-title">
    <h2>Check out the new meetings!</h2>
</div>

<div class="container-meetings">
    <div class="header-meetings">
        <div class="buttons-meetings">
            <a href="/meet/myPendingMeetings" class="btn btn-outline-primary">My Meetings</a>
            <a href="/meet/createMeeting" class="btn btn-outline-primary">Create a new meeting</a>
        </div>
        <div class="search-meeting">
            <form class="form-inline form-search-meeting" method="GET" action="/meet/meetings/search">
                <div class="container-input-meetings">
                    <input class="form-control input-meetings" type="search" placeholder="Search events in your city..." aria-label="Search" name="meetingCity">
                </div>
                <div>
                    <button class="btn btn-primary btn-search-meeting" type="submit">Search</button>
                </div>
            </form>
        </div>  
    </div>
    <div class="container-items-meetings">
        {{#each meetings}}
            {{> meetingCard this}}
        {{/each}}
    </div>
</div>