<div class="container-meetings">
    <div class="header-meetings">
        <div class="buttons-meetings">
            <a href="/meet/myPendingMeetings" class="btn btn-outline-primary">My Meetings</a>
            <a href="/meet/createMeeting" class="btn btn-outline-primary">Create a new meeting</a>
        </div>
        <div class="search-meeting">
            <form class="form-inline form-search-meeting">
                <input class="form-control input-meetings" type="search" placeholder="Search meetings..." aria-label="Search">
                <button class="btn btn-primary btn-search-meeting" type="submit">Search</button>
            </form>
        </div>  
    </div>
    <div class="container-items-meetings">
        {{#each meetings}}
            {{> meetingCard this}}
        {{/each}}
    </div>
</div>