<div id="background-title">
    <h2>My pending meetings</h2>
</div>
<div class="container-meetings">
    <div class="container-items-meetings">
        {{#each myMeetings}}
        {{> meetingPendingCard this}}
        {{/each}}
    </div>
    </br>
    <a class="btn btn-outline-danger" type='button' href="/meet/meetings">Back</a>
</div>


