<div class="card" style="width: 33.333%;">
    <img src="images/bar.jpg" class="card-img-top" alt="bar">
    <div class="card-body">
        <h5 class="card-title">{{this.meetingName}}</h5>
        <p class="card-text">{{this.meetingDescription}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
<p>
    hola
</p>