<div class="card card-meeting" style="width: 30%;">
    {{#if this.meetingImg}}
        <img class="card-img-top" src="{{this.meetingImg}}" alt="Meeting picture">
    {{^}}
        <img src="../../images/bar.jpg" class="card-img-top" alt="bar">
    {{/if}}
    <div class="card-body">
        <h5 class="card-title">{{this.meetingName}}</h5>
        <p class="card-text">{{this.meetingDescription}}</p>
        <a href="#" class="btn btn-primary">More Details!</a>
    </div>
</div>