<div class="faq">
    <div class="jumbotron">
    <h4 class="display-6 font-weight-bold p-0">FAQs</h4>
    </div>

    <div class="container-questions">
        <div class="container-question animate__animated animate__slideInUp">
            <div class="questions">
                How much does a language exchange cost?
            </div>
            <div class="answers">
                It's totally free!
            </div>
    </div>


        <div class="container-question animate__animated animate__slideInUp">
            <div class="questions">
                Is it safe to organize a meeting with a stranger through MeetUp?
            </div>
            <div class="answers">
                Of course, the profiles are 100% verified
            </div>
        </div>
        
</div>