<h1>Welcome to meetup</h1>

<p> There are many stages of learning a language. At some point in this learning, we realize it’s time to talk with a native
speaker and practice everything we’ve learned so far. That’s where language exchange comes in. MeetUp helps you to find
the right language exchange partner, one who shares our interests and has similar language goals. MeetUp allows you not
only to improve a language, you also make great friends!
</p>